<h1 style="text-align: center;">Board Games</h1>
 
 
<p><%= @boardgame.title %></p>
<p><%= @boardgame.min_player %> - <%= @boardgame.max_player %></p>
<p><%= @boardgame.publisher%></p>
<p><%= @boardgame.description %></p>
</table>

<%= link_to 'back', show_path %>